.root {
  position: absolute;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  .close {
    width: 16px;
    height: 16px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 7px;
    content: " ";
    height: 16px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
